In [13]:
import pandas as pd
from sklearn.pipeline import Pipeline
cust_info=pd.read_csv('data/WA_Fn-UseC_-Telco-Customer-Churn.csv').drop(['customerID'],axis=1)
cust_info.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [19]:
from sklearn.preprocessing import OrdinalEncoder
enc=OrdinalEncoder()
uhh=enc.fit_transform(cust_info)

In [21]:
uhh

array([[0.000e+00, 0.000e+00, 1.000e+00, ..., 1.420e+02, 2.505e+03,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 4.980e+02, 1.466e+03,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 4.360e+02, 1.570e+02,
        1.000e+00],
       ...,
       [0.000e+00, 0.000e+00, 1.000e+00, ..., 1.370e+02, 2.994e+03,
        0.000e+00],
       [1.000e+00, 1.000e+00, 1.000e+00, ..., 7.950e+02, 2.660e+03,
        1.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 1.388e+03, 5.407e+03,
        0.000e+00]])